services:
    be:
        build:
            context: ..
            dockerfile: docker/Dockerfile
            target: be
        ports:
            - "${APP_PORT}:${APP_PORT}"
        env_file:
            - ../${ENV_FILE:-.env}
        environment:
            DB_PRIMARY_HOST: db
            MINIO_HOST: minio
        volumes:
            - ./storage:/app/storage:rw
        depends_on:
            - db
            - minio

    db:
        image: postgres:17
        environment:
            POSTGRES_USER: ${DB_PRIMARY_USER}
            POSTGRES_PASSWORD: ${DB_PRIMARY_PASS}
            POSTGRES_DB: ${DB_PRIMARY_NAME}
        ports:
            - "5432:5432"
        volumes:
            - ./storage/dbdata/${DB_PRIMARY_NAME}_${DB_PRIMARY_NAME}:/var/lib/postgresql/data

    minio:
        image: minio/minio
        environment:
            MINIO_ROOT_USER: ${MINIO_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_PASS}
        command: server /data --console-address ":9001"
        ports:
            - "9000:9000"
            - "9001:9001"
        volumes:
            - ./storage/minio-data:/data:rw
