services:
    be:
        build:
            context: .
            dockerfile: docker/Dockerfile
            target: be
        ports:
            - "${PORT}:${PORT}"
        env_file:
            - ./${ENV_FILE:-.env}
        environment:
            DB_HOST: db
            MINIO_ENDPOINT: minio
        volumes:
            - ./storage:/app/storage:rw
        depends_on:
            - db
            - minio

    db:
        image: mongo:latest
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
            MONGO_INITDB_ROOT_PASSWORD: ${DB_PASS}
            MONGO_INITDB_DATABASE: ${DB_NAME}
        ports:
            - "27017:27017"
        volumes:
            - ./storage/mongodb-data:/data/db

    minio:
        image: minio/minio
        environment:
            MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
            MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
        command: server /data --console-address ":9001"
        ports:
            - "9000:9000"
            - "9001:9001"
        volumes:
            - ./storage/minio-data:/data:rw
